<p>
	<strong>Title:</strong>
	<%= @post.title %>
</p>

<p>
<strong>Text:</strong>
<%= @post.text %>
</p>

<h2>Agregar un comentario:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
	<p>
		<%= f.label :commenter %><br />
		<%= f.text_field :commenter %>
	</p>
	<p>
		<%= f.laber :body %><br />
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<h2> Comentarios</h2>
<% @post.comments.each do |comment| %>
	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter%>
	</p>
	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Agregar un comentario:</h2>
<%render "comments/form" %>



<%= link_to 'back',posts_path %>